<h1>Editing Link</h1>

<%= render 'form' %>

<%= link_to('Show', @link) %> |
<%= link_to('Back', controller: "links", action: "previous") %> |
<%= link_to('Destroy',@link, method: :delete, data: { confirm: 'Are you sure you want to delete this link?'})  %>
