// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td {
	text-align:center;
}
.content {
	border: 1px solid black;
	width: 15%;
}
.option {
	width: 1%
}